{% load staticfiles %}
<!doctype html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Septem, a new way to make a smart living">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cosmos </title>

    <!-- Page styles -->
    <link rel="stylesheet" href="{% static 'index/css/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}">
	
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div class="septem-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="septem-title mdl-layout-title">
            <img class="septem-logo-image" src="{% static 'index/images/iiits-logo.png' %}"><span class="cosmos-logo">cosmos</span>
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="septem-header-spacer mdl-layout-spacer"></div>
         
          <!-- Navigation -->
          
          <span class="septem-mobile-title mdl-layout-title">
            <img class="septem-logo-image" src="{% static 'index/images/septem-logo.png' %}"><span class="cosmos-logo">cosmos</span>
          </span>
          
        </div>
      </div>

      

      <div class="septem-content mdl-layout__content">
        <a name="top"></a>

          {% ifequal user.is_active False %}
		  <center class="glass septem-login-form mdl-card mdl-shadow--2dp">
          	<div class="septem-login-form-card-title mdl-card__title">
          		<h2 class="mdl-card__title-text">Please Login</h2>
          	</div>
  			<div class="mdl-card__supporting-text">
  				<form action="" method="post">
          			{%csrf_token%}
					{% if form.non_field_errors %}
						{{ form_error }}
					{% endif %}
  					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    					{{form.otp}}
    					<label class="mdl-textfield__label" for="username">Enter the OTP sent to your email - {{email}}</label>
  					</div>
          			
  					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
  					VERIFY OTP
					</button>
				</form>
        <center>In case you do not find OTP in your inbox, please check in spam folder as well.</center>
			</div>	
          </center>
          {% endifequal %}
        </div>
        
        
        <footer class="septem-footer mdl-mega-footer">
          <center class="mdl-mega-footer--bottom-section">
            <a class="septem-link mdl-typography--font-light" href="">Developed by Sahal Sajjad</a>
            <a class="septem-link mdl-typography--font-light" href="">A project of NSA, IIIT Sri City</a>
          </center>

        </footer>
      </div>
    </div>
   
    <script src="{% static 'index/js/material.min.js' %}"></script>


  </body>
</html>
