{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<style>
.septem-header{border-bottom:1px inset #9e9e9e;}
h5{color:#673ab7;}
body{background-color: white;}

.form-wrapper{
    border-top: 5px solid #607d8b;
    padding: 45px;
    background: aliceblue;
    padding-bottom: 15%;
}
.form-wrapper p{}
.card-single {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
padding: 20px;
padding-bottom: 40px;
height: auto;
min-height: 40px;
border-top: 2px solid #009688;
}

/* On mouse-over, add a deeper shadow */
.card-single:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.button-container{
  margin-top:15px;
  margin-bottom: 15px;
}
.mdl-chip__contact{

height: 32px;
width: 76px;
border-radius: 36px;
margin-right: 8px;
font-size: 18px;
line-height: 32px;
}
.mdl-chip__text{
  font-size: 18px;
vertical-align: middle;
display: inline-block;
}
.mdl-button--file input{
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}
.mdl-chip--contact{
  padding-left: 0;
margin-bottom: 15px;
}

.mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
.mdl-button--file {
    right: 0;
  }
input[type="file"]{
  display: inline;
}
.fileUpload{
  padding: 15px;
border-radius: 5px;
margin-bottom: 20px;
box-shadow: 1px 1px 1px;
}
a{
  color:indigo;
}
</style>
<script src="{% static 'btp/js/material.min.js' %}"></script>
<div class="col-lg-9 col-md-9" style="margin-top:25px; padding: 25px 10vw; min-height:80vh;">
  <div id="enter-project">
    <a href="/btp/add-project/" style="color:green;">
      <h4>
        <i class="fa fa-plus-circle" aria-hidden="true" ></i> Add a project
      </h4>
    </a>
  </div>
	<div id="select-project">
		<h5>Select the project to edit.</h5>
		{% for x in projects %}
			<div class="card-single" style="margin-bottom:20px; ">
        <div class="mdl-color--teal col-lg-12 col-md-12 col-sm-12 col-xs-12 fileUpload" id="fileUpload-{{x.id}}">
        <form id="file-submit-form" method="post" action="/btp/upload-project-file/{{x.id}}/" enctype="multipart/form-data" >
          {% csrf_token %}
          <div class="file-upload" style="display:inline;">
            <label>Enter a file name</label>
              {{ fileform.file_name}}<br>
              {{ fileform.file_upload }}
              <button class="pull-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect disabled">
              UPLOAD
              </button>
          </div>
        </form>
      </div>
        <div class="mdl-chip mdl-chip--contact">
          <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{x.code}}</span>
          <span class="mdl-chip__text">{{ x.title|capfirst }}</span>    
        </div><br>
        <button onclick="showBox({{x.id}})"  class="upload-toast-show mdl-color--green mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right" onclick="select({{x.id}})" data-toggle="tooltip" title="upload files">
          <span class="mdl-color-text--white">
            <i class="fa fa-upload" aria-hidden="true"></i>
          </span>
        </button>
          <a href="/btp/move-to-archives/{{x.id}}/">
            <button class="archive-toast-show mdl-color--red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right" style="margin-right:5px; background:#d32f2f;" onclick="select({{x.id}})" data-toggle="tooltip" title="archive">
              <span class="mdl-color-text--white">
              <i class="fa fa-archive" aria-hidden="true"></i></span>
            </button>
          </a>
          <a href="/btp/edit-project/{{x.id}}/">
            <button  onclick="edit({{x.id}})" style="background:#607d8b; color:white; float:right; margin-right:5px;" class="edit-toast-show mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="select({{x.id}})" data-toggle="tooltip" title="Edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </a>
          {% if x.files_are_uploaded %}
            <h5>Uploaded files</h5>
            <ul class="list-group">
              {% for y in x.uploaded_files %}
                <li class="list-group-item">
                  <a href="{{y.file_up.url}}" style="padding-left:15px; margin-left:5em;">
                   {{ y.file_name }}
                  </a>&nbsp;
                  <a class="pull-right" href="/btp/file-delete/{{y.id}}/" data-toggle="tooltip" title="delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </li>
              {%endfor %}
              </ul>
          {%endif%}
      </div>
      
      {% empty %}
      <div class="card-single" style="margin-bottom:20px; padding-bottom:20px;">
        You have'nt entered any projects yet.
		  {% endfor %}
      {% if projects_are_archived %}
        <h5>Archived Projects</h5>
            <ul class="list-group">
              {% for y in archived_projects %}
                <li class="list-group-item">
                  <span style="padding-left:15px; margin-left:5em;">
                   {{ y.title }}
                  </span>&nbsp;
                  <a class="pull-right" href="/btp/archive-restore/{{y.id}}/" data-toggle="tooltip" title="restore">
                    <i class="fa fa-retweet" aria-hidden="true"></i>
                  </a>
                </li>
              {%endfor %}
              </ul>
      {% endif %}
	    </div>
  </div>
  <div id="upload-toast-content" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
  </div>
  <div id="edit-toast-content" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
     <button class="mdl-snackbar__action" type="button"></button>
  </div>
  <div id="archive-toast-content" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
  </div>
</div>
<script type="text/javascript">
$('.fileUpload').hide();
window.showBox =function(iden){$('#fileUpload-'+iden).show();}
$('[data-toggle="tooltip"]').tooltip();  

(function() {
  'use strict';
  window['counter'] = 0;
  var snackbarContainerUpload = document.querySelector('#upload-toast-content');
  var snackbarContainerEdit = document.querySelector('#edit-toast-content');
  var snackbarContainerArchive = document.querySelector('#archive-toast-content');
  var showToastButtonEdit = document.querySelector('.edit-toast-show');
  var showToastButtonArchive = document.querySelector('.archive-toast-show');
  var showToastButtonUpload = document.querySelector('.upload-toast-show');
  showToastButtonEdit.addEventListener('mouseover', function() {
    'use strict'; console.log('onmouseover');
    var data = {message:'Help: Click to edit the project'};
    snackbarContainerEdit.MaterialSnackbar.showSnackbar(data);
  });
  showToastButtonArchive.addEventListener('mouseover', function() {
    'use strict';
    var data = {message: 'Help: Project will be archived' };
    snackbarContainerArchive.MaterialSnackbar.showSnackbar(data);
  });
  showToastButtonUpload.addEventListener('mouseover', function() {
    'use strict';
    var data = {message: 'Help: Click to upload a file' };
    snackbarContainerUpload.MaterialSnackbar.showSnackbar(data);
  });
}());
</script>

</script>
{% endblock %}