<style>.more-less{color:#673ab7 !important;}</style>
<center><a class="more-less" id="rm-{{x.id}}" onclick="showMore({{x.id}})">Read More</a></center>
<div id="pd-{{x.id}}" class="pd-all">
  <legend>Brief Description</legend>
  <p>{{ x.description | linebreaksbr }}</p>
  <legend>Keywords</legend>
  <p>{{ x.keywords }}</p>
  <legend>Summer Internship</legend>
  {% ifequal x.summer 'nyd' %}
  <p>Not yet Decided.</p>
  {% else %}
  <p>{{ x.summer | capfirst}}</p>
  {% endifequal %}
  <center><a class="more-less" onclick="hideDetails({{x.id}})">hide</a></center>
</div>
<script type="text/javascript">
 
    $('.pd-all').hide();
    window.showMore  = function(pid){
      $('#rm-'+pid).hide();
      $('#pd-'+pid).show();
    }
    window.hideDetails = function(pid){
      $('#pd-'+pid).hide();
      $('#rm-'+pid).show();
    }

</script>