{% load staticfiles %}
<!doctype html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Cosmos, a new way to make a smart living">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cosmos </title>

    <!-- Page styles -->
    <link rel="stylesheet" href="{% static 'index/css/material.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}"/>
    <script type="text/javascript" src="{% static 'index/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'index/js/bootstrap.min.js' %}"></script>
    <style>
    .navbar-login{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
  }

  .navbar-login-session
  {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
 }

 .icon-size
 {
    font-size: 87px; color: grey;
 }
 .greyish{
  color: grey;
}
    </style>
 
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div  class="septem-header   mdl-layout__header--waterfall is-casting-shadow ">
        <div class="mdl-layout__header-row">
          <span class="septem-title mdl-layout-title">
            <img class="septem-logo-image" src="{% static 'index/images/iiits-logo.png' %}" alt="IIIT-S"><span class="cosmos-logo">cosmos</span>
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="septem-header-spacer mdl-layout-spacer"></div>
         
          <!-- Navigation here-->
          <div class="septem-navigation-container" align="center">
              <nav class="septem-navigation mdl-navigation">

              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/"><span class="glyphicon glyphicon-home"></span></a>
              
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/btp/">BTP &amp; HONORS</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/issues-and-suggestions/">ISSUES &amp; SUGGESTIONS</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/feasta/">FEASTA</a>

              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/polls/">ROOM&nbsp;BOOKING</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="http://studyspace.iiits.in">STUDYSPACE</a> 
	<a class="mdl-navigation__link mdl-typography--text-uppercase" href="http://myspace.iiits.in">MYSPACE</a>   
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/roombookings/">ROOM BOOKING</a>
              
          </nav>
          </div>
          <span class="septem-mobile-title mdl-layout-title">
            <img class="septem-logo-image" src="{% static 'index/images/iiits-logo.png' %}"><span class="cosmos-logo">cosmos</span>
          </span>
           <ul class="glass nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{ user.get_full_name }}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="glass dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8 greyish">
                                        <p class="text-left"><strong>{{ user.get_full_name }}</strong></p>
                                        <p class="text-left small">{{user.username}}</p>
                                        <p class="text-left">
                                            <a href="/accounts/secure/changepassword/" class="btn btn-primary btn-block btn-sm">change password</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="/accounts/signout/" class="btn btn-danger btn-block">sign out</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>

      <div class="septem-content mdl-layout__content">
        
        <div class="septem-be-together-section mdl-typography--text-center">
          <center class="protuded protuded-medium" >Platform for your apps at IIIT</center>
          <div class="a-separation"></div>
          <div class="hexagon-wrapper">
            <div id="color1" class="hexagon"></div>
          </div>
          <div  class="hexagon-wrapper">
            <div id="color2" class="hexagon"></div>
          </div>
          <div  class="hexagon-wrapper">
            <div id="color3" class="hexagon"></div>
           </div>
          <div  class="hexagon-wrapper">
            <div id="color4" class="hexagon"></div>
           </div> 
           <div  class="hexagon-wrapper">
            <div id="color5" class="hexagon"></div>
          </div>
          <div  class="hexagon-wrapper">
            <div id="color6" class="hexagon"></div>
           </div>
          <div  class="hexagon-wrapper">
            <div id="color7" class="hexagon"></div>
           </div> 
        
        </div>
        </div>
      
	<div class="septem-footer">
		<a href="https://usage.iiits.in" class="btn btn-success" style="margin-left:50px;">USAGE</a>
		<a href="http://10.0.3.15" class="btn btn-success" style="margin-left:50px;">STUDENT PROJECTS</a>
	</div>

        <footer class="septem-footer mdl-mega-footer">
          <center class="mdl-mega-footer--bottom-section">
            <a class="septem-link mdl-typography--font-light" href="">Developed by Sahal Sajjad</a>
            <a class="septem-link mdl-typography--font-light" href="">A project of NSA, IIIT Sri City</a>
          </center>

        </footer>
      </div>
   
    <script src="{% static 'index/js/material.min.js' %}"></script>


  </body>
</html>
