{% extends 'mess_base.html' %}
{% block navbar %}
{% include 'non_home_nav.html'%}
{% endblock %}
{% block iconspan %}{%endblock%}
{% block main %}
	<script type="text/javascript">
		function setDisabled(date) {
			var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
			for (i = 0; i < disabledDays.length; i++) {
				if($.inArray((m+1) + '-' + d + '-' + y,disabledDays) != -1 || new Date() > date) {
					return [false];
				}
			}
			return [true];
		}
		function checkIfDisable(date) {
			
			return  setDisabled(date) 
		}
		function markAbsent(d,m,y){
			alert(String(date));
			$.post("/submit/mark/absent/", 
				{
					d:d, m:m, y:y

				},function(result){
       			 $("#notify").html(result);
    		});
		}

		$(function() {
			$('#pp').hide();
    		$("#dates").feastaMultiDate({
        		dateFormat: 'd-m-y',
       			minDate: 0,
        		maxDate: '+{{session_end_days}}D',
      			onSelect:function(){
      				$('#pp').show();
	    	  		var dates = $('#dates').feastaMultiDate('getDates','string');
	    	  		var K = new Array();
    				for (var i = 0; i<=dates.length - 1;  i++) {
    					date = dates[i].split('-');
    					d=date[0];
    					m=date[1];
    					y=date[2];
    					var k= "<div class=\"meal-select-instance\">"+dates[i]+"<form onsubmit=\"markAbsent("+d+","+m+","+y+")\">{% csrf_token %}<input type=\"checkbox\" name=\""+dates[i]+"\" value=\"BF\">Break Fast<input type=\"checkbox\" name=\""+dates[i]+"\" value=\"L\"> Lunch<input type=\"checkbox\" name=\""+dates[i]+"\" value=\"D\">Dinner&nbsp;&nbsp;<input class=\"feasta-btn feasta-btn-mark\" type=\"submit\" value=\"Mark Absent\"></form></div>"
    					K.push(k);	
    				}
    				document.getElementById('meals-select').innerHTML="";
    				for(var i=0; i<K.length; i++){
    					document.getElementById('meals-select').innerHTML+=K[i];
    				}	
    			}
    		});    	
    	});

      		
  </script>
	<div class="container-fluid content-wrapper">
		<div class="feasta-content">
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">	
					<div id="dates">
						
					</div>
					<p id="pp">Choose meals you prefer to mark absent for selected dates on the right</p>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
					
					<div id="meals-select">
						
					</div>
					<div id="#notify">
						
					</div>
				</div>
			</div>		
			
		</div>
	</div>
{% endblock %}
