{% load staticfiles %}
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Feasta | Mess @ IIITS </title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

	<link rel="stylesheet" type="text/css" href="{% static 'feasta/css/bootstrap.min.css'%}" /> 
	
	<link rel="stylesheet" type="text/css" href="{% static 'feasta/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'feasta/css/jquery-ui.min.css'%}">
    <!--link rel="stylesheet" type="text/css" href="{% static 'feasta/css/daterangepicker.css'%}"-->
    <link rel="stylesheet" type="text/css" href="{% static 'feasta/css/style.css'%}">   
	
	<script src="{% static 'feasta/js/jquery.min.js' %}"></script>
    <script src="{% static 'feasta/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'feasta/js/feasta.multidate.min.js' %}"></script>
	<script src="{% static 'feasta/js/script.js' %}"></script>
		
    <base href="/feasta" />
</head>
