{% load staticfiles %}
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    
    <li>
      <a href="/btp/#"  id="sidebar--faculty-link" class="hover-context hovered--active">Faculty-wise Projects</a>
    </li>
    <li>
      <a href="/btp/#" id="sidebar--projects-link" class="hover-context hovered--inactive">Active Projects</a>
    </li>
  </ul>    
</div>
<script type="text/javascript">
$(document).ready(function(){
  var parse = {'sidebar--projects-link':'main--projects','sidebar--faculty-link':'main--faculty'};
  $('.hover-context').click(function(){
    $('.hovered--active').removeClass('hovered--active').addClass('hovered--inactive');
    $(this).removeClass('hovered--inactive').addClass('hovered--active');
    var main_id = parse[$(this).attr('id')];
    $('.main--active').removeClass('main--active').addClass('main--inactive');
    $('#'+main_id).addClass('main--active').removeClass('main--inactive');
    
  });
});
</script>