{% extends 'base.html' %}
{% block title %}<title>Courses</title></time>{% endblock %} 
{% block sidenav %}
{% endblock %}
{% block main %}
	<section><center><h4>Courses</h4></center></section>
	<div class="container-fluid">
		{% for x in course_list %}
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 card" style="padding:0px; width: 23.9%; margin-left: 1%;">
				<div style="height:80px; ">
					<h6><center><b>{{x.title}}</b></center></h6>
					
				</div>
				<div style="border-top:1px solid #babaae;">
				<center><a href="/courses/course-page/c/{{x.id}}" target="_blank"><button style="color:#024806;"class="btn mdl-button"><b>Visit course page</b></button></a></center>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}