{% extends 'base.html'%}
{% load staticfiles %}
{% block sidenav %}
		{% include 'gp/sidenav.html' %}
	{% endblock %}
{% block main %}
	
	{% block maincontent %}	
	<div style="margin-left:20%; margin-top:2%;"> 
	<span class="mdl-layout-title">Trending Issues</span>

	<div class="alert alert-success" id="success-alert" style="position:fixed; margin-left:700px;">
    	<button type="button" class="close" data-dismiss="alert">x</button>
    		<strong>Success! </strong>
    		Suggestion has been submitted successfully.
	</div>

	{% for x in posts%}
	
	<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:550px;margin-top:10px;">
		<div class="mdl-card__title mdl-card--expand" style="color:black;height:176px;margin-top:0; padding:25px;">
			<h4>{{x.issue.title}}<br></h4>
			<div class="tag-tip">
				<b>{{x.status}}</b>
			</div>
		</div>
		<div class="mdl-card__supporting-text">
			<b>{{x.issue.description}}</b>
			<br><div class="chip">{{x.issue.domain}}</div>
			<br><div style="height:auto; width:100%; font-size: 10px; text-align: right; float:right">Posted on {{x.issue.posted_on|date:"d-m-y"}} by {{ x.issue.posted_by}}</div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			{% ifequal x.upvoted False %}
				<a id="upvote-{{x.issue.id}}"  class="thumbs-up not-upvoted" onclick="upvote({{x.issue.id}}, 'not-upvoted')">
			{%endifequal %}
			{% ifequal x.upvoted True %}
				<a id="upvote-{{x.issue.id}}"  class="thumbs-up upvoted" onclick="upvote({{x.issue.id}}, 'upvoted')">
			{%endifequal %}	
				{% ifequal x.upvoted False %}
    				<i id="upvote-symbol-o-{{x.issue.id}}" class="fa fa-thumbs-o-up"></i>
      			{% endifequal%}
      			{% ifequal x.upvoted True %}
      				<i id="upvote-symbol-up-{{x.issue.id}}" class="fa fa-thumbs-up"></i>
      			{%endifequal%}
      		</a>
      		<span id="upvote-container-{{x.issue.id}}" style="padding:5px;">{{x.upvotes}}</span>
	{% if x.incharge %}
	<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onClick="AssignModal({{x.issue.id}})" id="showModal-{{x.issue.id}}">
      ASSIGN
    </button>
	<dialog class="mdl-dialog" id="dialog-{{x.issue.id}}">
    <h4 class="mdl-dialog__title">Assign To..</h4>
    <div class="mdl-dialog__content">
      <p>
	<form action="" method="post">{% csrf_token %}
	{% if form.errors%}
		{{form.non_field_errors}}
	{% endif %}
 <div class="mdl-textfield mdl-js-textfield">
     	{{form.recep}}
	<label class="mdl-textfield__label">Enter the email Address</label>
</div>
 <div class="mdl-textfield mdl-js-textfield">
	{{form.body}}
<label class="mdl-textfield__label">Write something</label>
</div>		
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button" id="assigned-{{x.issue.id}}">Send Email</button>
	</form>
      <button type="button" class="mdl-button close">Close</button>
    </div>
  </dialog>
  <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect solved" id="issue-close-{{x.issue.id}}">
      SOLVED
    </button>
{% endif %}
  </div>	
	</div>

<br>
<span>
	<a id="suggestions-click-{{x.issue.id}}" onclick="loadSuggestions({{x.issue.id}})" >
		<button type="button" class="btn btn-success">
			View suggestions
		</button>
	</a>
</span>		

<form action="">
	<div class="mdl-textfield mdl-js-textfield is-upgraded" data-upgraded=",MaterialTextfield">
		<textarea class="mdl-textfield__input" cols="40" id="id_text_{{x.issue.id}}" name="text" placeholder="Post a suggestion" rows="3"></textarea>
	</div>
	<br>
	<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" onclick="event.preventDefault(); submitSuggestion({{x.issue.id}})" data-upgraded=",MaterialButton,MaterialRipple">
		Post
		<span class="mdl-button__ripple-container">
			<span class="mdl-ripple"></span>
		</span>
	</button>
</form>

<br>

<div id="suggestions-display-{{x.issue.id}}">
	
</div>
{% endfor %}
</div>

<!-- Suggestion box -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Suggestion List-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Suggestions</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script>
	$("#success-alert").hide();

	function AssignModal(CID){
		var dialog = document.querySelector('#dialog-'+CID);
	
	    var showModalButton = document.querySelector('#showModal-'+CID);
	    if (! dialog.showModal) {
	      dialogPolyfill.registerDialog(dialog);
	    }
	    showModalButton.addEventListener('click', function() {
	      dialog.showModal();
	    });
	    dialog.querySelector('.close').addEventListener('click', function() {
	      dialog.close();
	    });
	}

	function upvote(id, status) {
		console.log("Upvoting");
		$.ajax({
	    	url: 'upvote/complaint/',
	    	type: 'GET',
	    	data: {
	        	ID: id,
	        	status: "temp " + status,
	        	csrfmiddlewaretoken: '{{csrf_token}}',
	      	},
	    })
	    .done(function(result) {
	    	console.log(result);
	    	$('#upvote-container-' + id).html(result.split(',')[1])
	    })
	    .fail(function(result) {
	    	//willstop = 1
	    	console.log("error");
	    })
	    .always(function(result) {
	    	//console.log(result);
	    });				
	}

	function fill_modal(result) {
		result = JSON.parse(result);
		//result = result.slice(1);
		var body_text = ""
		for (var i = 0; i < result.length; i++) {
			console.log("Author ID: " + result[i].fields.author + " -> " + result[i].fields.suggestion);
			body_text += "<p> Author ID: " + result[i].fields.author + " -> " + result[i].fields.suggestion + "</p>";
		}
		$('.modal-body').html(body_text);
		console.log(body_text);
	}

	function loadSuggestions(id) {
		console.log("loading suggestions")
	    $.ajax({
	    	url: 'get/suggestion/',
	    	type: 'GET',
	    	data: {
	        	cid: id,
				begin: 0,
				end: 5,
	        	csrfmiddlewaretoken: '{{csrf_token}}',
	      	},
	    })
	    .done(function(result) {
		console.log(result);
	    	fill_modal(result);
	    	$('#myModal').modal('show');
	    })
	    .fail(function(result) {
	    	//willstop = 1
	    	console.log("error");
	    })
	    .always(function(result) {
	    	//console.log(result);
	    });
	}

	function submitSuggestion(id) {
		console.log("submitting suggestions");
		suggestion = $('#id_text_' + id).val();
		//id = $('#post_id').val();
		console.log(suggestion)
	    $.ajax({
	    	url: 'submit/suggestion/',
	    	type: 'GET',
	    	data: {
	        	ID: id,
	        	suggestion: suggestion,
	        	csrfmiddlewaretoken: '{{csrf_token}}',
	      	},
	    })
	    .done(function(result) {
	    	console.log("Submitted successfully");

      		$("#success-alert").alert();
		    $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
				$("#success-alert").slideUp(500);
      		});
	    	$('#id_text_' + id).val('');

	    })
	    .fail(function(result) {
	    	//willstop = 1
	    	console.log("error");
	    })
	    .always(function(result) {
	    	//console.log(result);
	    });
	   	return true
	}

	function disableAssignAndShowSolved(CID){

		
	}  
  
</script>
{% endblock %}	
{% endblock %}
{% block footer %}
<footer><center class="card-subtitle">Developed by <abbr title="Network, Server Administrator, Webmaster, IIITS">Sahal Sajjad</abbr>, Bhavana Tangirala</center></footer>
{% endblock %}
