{% extends 'base.html' %}
{% load staticfiles %}

  <div id="sidebar-wrapper" class="glass">
          <a class="mdl-navigation__link" href="/issues-and-suggestions/"><i class="fa fa-2x fa-home"></i>&nbsp;Home</a>
          <a class="mdl-navigation__link" href="/issues-and-suggestions/complaint/post"><i class="fa fa-2x fa-commenting"></i>&nbsp;Post an Issue</a>
          <a class="mdl-navigation__link" href="/issues-and-suggestions/mycomplaints/"><i class="fa fa-2x fa-star"></i>&nbsp;View My Posts</a>
          <div class="mdl-navigation__link" href=""><i class="fa fa-2x fa-hashtag"></i>&nbsp;View Issues
          <div>
          <div class="mdl-layout-spacer"></div>
         <div class="bar">
                 
               <button id="demo_menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton">
                  <i class="fa fa-ellipsis-v"></i>
               </button>
               <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                  for="demo_menu-lower-right">
                  <a href = "/issues-and-suggestions/complaints/view/?get_by_domain=All"><li class="mdl-menu__item">All</li></a>
                  <a href = "/issues-and-suggestions/complaints/view/?get_by_domain=Academic"><li class="mdl-menu__item">Academic</li></a>
                  <a href = "/issues-and-suggestions/complaints/view/?get_by_domain=Mess"><li class="mdl-menu__item">Mess</li></a>
                  <a href = "/issues-and-suggestions/complaints/view/?get_by_domain=Hostel"><li class="mdl-menu__item">Hostel</li></a>   
               </ul>
            
         </div>
         <div class="background"></div>
      </div>

          </div>
          
          <div class="mdl-layout-spacer"></div>
          <center>
            <b>Developed by<br></b>
            <span>Bhavana Tangirala</span><br>
            <span>Sahal Sajjad</span>
          </center>
       
</div>   
