a{color:white;} a:hover{cursor:pointer;}
.btn-white{color:#101010;background:white;}
.content-wrapper{background: #101010;min-height: 20vh;height: auto;
    margin-bottom: -30vh;
}

.feasta-abs{
    border: medium none;
position: absolute;
top: 70%;
height: 90px;
left: 60vw;
border-radius: 0px;
padding: 0px 20px;
background: #7C603B none repeat scroll 0% 0%;
color: #FFF;
font-size: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
}
.feasta-announce{color: white; font-size: 22px;}
.feasta-blackfont{
    color:black !important;
}
.feasta-btn{    width: 100%;
    color: white;
    font-size: 15px;
    background: #D0A443;
    border: none;
    padding: 10px 2px;
    font-variant: small-caps;
    font-weight: bold;
}
.feasta-btn-announce{
    width:auto !important;
    padding: 10px 12px !important;
    margin-bottom: 15px !important;
}
.feasta-btn-mark{
    width: auto !important;
    padding:  2px 5px !important;
    margin-bottom: 15px !important;
    display: inline-block;
    background: green;
}
.feasta-center{margin:0px 33vw 10px 33vw;width:33vw;}
.feasta-content{    min-height: 50vh;
    width: 70%;
    padding: 5vh 10vw;
    margin: 0px 15vw;
    background: #101010;
    position: absolute;
    top: 10vh;
    z-index: 3000;
    height: auto;
    color: white;}
.feasta-container{
    background: #101010;
}
.feasta-mar{margin-top:4vh;}
.feasta-navbar{background-color:white;opacity: 0.6;color:black;margin-top:-10vh;height:10vh;padding-top: 2vh;padding-bottom:2vh;}
.feasta-navbar ul li{display: inline;margin: 0px 15px;font-size: 20px;font-weight: bold;}
.feasta-navbar ul li a{color:#101010;}
.feasta-navbar-fixed-top{position:absolute;background-color:white;opacity: 0.6;color:black;width:100%;margin-top:-60vh;height:10vh;padding-top: 2vh;padding-bottom:2vh;}
.feasta-navbar-fixed-top ul li{display: inline;margin: 0px 15px;font-size: 20px;font-weight: bold;}
.feasta-navbar-fixed-top ul li a{color:#101010;}
.feasta-stats{background: #101010;height:30vh;color: #D0A443;}
.feasta-stats ul li{display: inline;list-style: none; font-size: 25px; color:white;padding:30px;}
.figure{font-size: 40px;color:white;}
.footer{padding:15px 0px;font-size:18px;color:#685036;background: white;}
.footer-name{color:#101010;}
.form-control{border-radius: 0px;}
.header-logo{font-size: 60px;font-variant:small-caps;color:white;font-weight:bold;padding:10vh 0vh 0vh 0vh;margin-left:20vh;}
.header-logo-sub{color:white;margin-left:19vh;font-variant:small-caps;}
.icon-span{color:white;float:right; padding:15px;} .icon-span a{color:white;}
.meal-select-instance{
    background: white;
    color: green;
    padding: 5px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
    margin-bottom: 2px;
}
.nav-burger{position: absolute; z-index: 200;
    z-index: 200;
    left: 92vw;
    top: 10vh;
}

.pagination>li>a, .pagination>li>span {
    color:green;
}   
.results-pag{
    height: 20vh;
} 
.small-text{font-size:10px;position:absolute;left:5vh;top:8vh;}
.stats{margin-left:5vw;} .stats a{color:#D0A443;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border-top:none;}
.text-box{background: #A07F36;
    padding: 3px 20px;}
.text-box-follow{padding: 3px 20px;
    background: #2D962D;
}
.topfold{background-image:url('../images/coffee.jpg');height:60vh;}
#user-settings-burger{position:absolute;top:50px;left:83vw;width:15vw;background:white;color:#68503C;padding:15px 0px;border-radius:20px;}
#user-settings-burger ul li{list-style: none;} #user-settings-burger ul li:hover{background:#68503C;color:white;}
#user-settings-burger ul li a{color:#68503C;} #user-settings-burger ul li a:hover{color:white;}
#user-settings-burger-non{
        position: absolute;
    top: 50px;
    left: -9vw;
    width: 15vw;
    background: white;
    color: #68503C;
    padding: 0px;
    border-radius: 20px;
    font-size: 8px;
    z-index: 3010 !important;}
#user-settings-burger-non ul li{display: block;margin:10px 0px;font-size: 12px; } #user-settings-burger ul li:hover{background:#68503C;color:white;}
#user-settings-burger-non ul li a{color:#68503C;} #user-settings-burger ul li a:hover{color:white;}

/********Date Picker CSS *****************/
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}
.ui-icon {
    background-image: url("../images/ui-icons_a8a3ae_256x240.png") !important;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #743620 none; 
    color: white;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-widget-header {
    border: 1px solid #231d2b;
    background: #FFF !important;
    color: #101010 !important;
    font-weight: bold;
}
.ui-widget-content {
    border: 1px solid #7e7783;
    background: #101010;
    color: white;
}
.ui-datepicker td span, .ui-datepicker td a{
padding: 0.3em;
}    
#meals-select{
    overflow-y:scroll; 
    max-height:290px;
    background: #101010;
    padding: 2px;
}